body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 1em 13em;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 1em;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

.one {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 4em 13em;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    flex: 1;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.hero-button,
.call-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: bold;
    width: 80px;
}

.images {
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-shrink: 0;
}

.two {
    display: flex;
    flex-direction: column;
    padding-bottom: 6em;
}

.two-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.info {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.card {
    width: 175px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.imgs {
    width: 160px;
    height: 160px;
    border: solid;
    border-width: 4px;
    border-radius: 16px;
    border-color: #3882F6;
}

.p {
    line-height: 20px;
    font-weight: 300;
}

.three {
    background-color: #E5E7EB;
    padding: 7em 13em 5em 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-quote{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.person {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 13em;
}

.comment {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 5em;
    flex: 1;
}
.call-title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold
}

.call-text {
    color: #F9FAF8;
    font-weight: 300;

}

#callb {
    border-color: #F9FAF8;
    border-width: 2px;
    border-style: solid;
    padding: 6px 14px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;padding: 2em 0;
}

.copyright {
    color: #F9FAF8;
    font-weight: 300;
}


/* Rainbow code section */

#shadowBox {
    background-color: #F9FAF8;
    /* Fallback color */
}

.rainbow {
        font-size: 24px;
        font-weight: 800;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}